@font-face {
    font-family: 'PixelFont';
    src: url('../Pixel32ChinesePixelFont-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.home-link {
    text-decoration: none;
    color: inherit;
}

.text-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

canvas#resultCanvas {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    transform: scale(1);
    transform-origin: top left;
}
